@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito-uniquifier {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

body, html {
    margin: 0;
    padding: 0;
}



.header {
    min-height: 2306px;
    position: relative;
    background: rgba(249, 249, 249, 1);

}

.header img {

    

}


.meal img {
    width: 150px;
    height: 29px;
}

.meal {

   position: absolute;
   top: 24px;
   left: 437px;
}


.ellipse {
    width: 2880px;
    height: 2880px;
    background: rgba(255, 171, 8, 1);
    border-radius: 50%;
    position: absolute;
    top: -2414px;
    left: -928px;
    
}


.burgblock {
    width: 764px;
    height: 326px;
    position: absolute;
    top: 77px;
    left: 130px;
    display: flex;


}

.header-inner {
    height: 500px;
}

.socnie {
width: 437px;
height: 120px;
margin-top: 46px;

}
.tolko {
font-family: Nunito;
font-size: 50px;
font-weight: 800;
line-height: 60px;
text-align: left;
color: rgba(255, 255, 255, 1);
}


span {
font-family: Nunito;
font-size: 50px;
font-weight: 800;
line-height: 60px;
text-align: left;
color: rgba(255, 92, 0, 1);


}
.besplatn {

    width: 223px;
height: 22px;
margin-top: 52px;


}


.bes {
    font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 21.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;

}


.blockscroll {
    width: 900px;
    height: 40px;


    display: flex;
    margin-left: 32px;
    margin-top: 40px;


}
.item1 {
    display: flex;
    width: 126px;
    height: 40px;
    border-radius: 50px;
    background: rgba(255, 171, 8, 1);
    margin-right: 24px;
    margin-left: 100px;



}
.item {
    display: flex;
    width: 121px;
    height: 40px;
    border-radius: 50px;
    background: rgb(255, 255, 255, 1);
    margin-right: 24px;  

}

.item:last-child {
    margin-right: 0;
}

.icon {
    width: 24px;
height: 24px;
padding: 8px 8px 8px 14px;


}
.text {
    font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 21.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);

padding: 8px 14px 8px 0px;


}



.burg {
    width: 166px;
    height: 48px;
    color: rgba(0, 0, 0, 1);
    margin-left: 362px;
    margin-top: 50px;

    font-family: Nunito;
font-size: 40px;
font-weight: 600;
line-height: 48px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;



}
.threeinone {
    width: 300px;
    height: 467px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 1);
    margin-left: 32px;
    margin-top: 24px;

}

.korzina {
    display: flex;
}
.corz {
    font-family: Nunito;
font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 24px;
margin-left: 16px;

}
.schetchik {
    width: 41px;
    height: 20px;
    font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background: rgba(242, 242, 243, 1);
border-radius: 6px;
margin-top: 26px;
margin-left: 129px;

}

.cifr {
    padding: 2px 17px 2px 16px;
}
.bl1 {
    width: 268px;
    height: 84px;

    margin-top: 12px;
    margin-left: 16px;


}

.bl {
    width: 268px;
    height: 84px;


    margin-left: 16px;


}
.srfotoandtext {
    display: flex;
}
.sirfoto {
    margin-top: 16px;
}
.sirtext {
    margin-top: 15px;
    margin-left: 6px;
}
.sirtext1 {
    width: 83px;
    height: 16px;
    font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);


}
.sirtext2 {
    width: 27px;
height: 16px;

font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(177, 177, 177, 1);

}
.sirtext3 {
    width: 29px;
    height: 16px;
    font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);



}
.schetch {
    width: 84px;
    height: 40px;
    background: rgba(242, 242, 243, 1);
    border-radius: 12px;
    margin-left: 31px;
    margin-top: 22px;


}

.pod {
    display: flex;
    
    width: 60px;
height: 22px;
color: rgba(0, 0, 0, 1);

margin: 9px 12px 9px 12px;
justify-content: space-between;

font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 21.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;



}



.itog {
    width: 268px;
    height: 21px;

    display: flex;
    justify-content: space-between;
    margin: 16px 16px 24px 16px;

}
.itg {
    width: 44px;
height: 21px;
font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);


}
.moneyitog {
    width: 48px;
height: 21px;
font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);

}
.zakazbtn {
    width: 268px;
    height: 40px;
    border-radius: 12px;
    background: rgba(255, 112, 32, 1);
    margin-left: 16px;


    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    border: none;
    
}
.textbtn {
 text-align: center;

}
.bespdost {
    width: 152px;
height: 24px;
display: flex;
justify-content: center;

margin-left: 16px;
margin-top: 8px;

}

.dstvka {
    width: 120px;
height: 16px;
font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);
margin-top: 4px;
margin-left: 8px;


}


.burgblock1 {
    width: 300px;
    height: 411px;

    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}

.burgblock2 {
    width: 300px;
    height: 411px;
    margin-left: 30px;
    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}


.burgblock3 {
    width: 300px;
    height: 411px;

    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}

.burgblock4 {
    width: 300px;
    height: 411px;
    margin-left: 30px;
    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}


.burgblock5 {
    width: 300px;
    height: 411px;

    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}

.burgblock6 {
    width: 300px;
    height: 411px;
    margin-left: 30px;
    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}








.burgfoto {
    
    padding: 12px 12px 16px 12px;
}
.ceena {
    width: 58px;
    height: 24px;
    font-family: Nunito;
font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.myasbomb {
    width: 107px;
height: 21px;
font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 8px;


}

.supsirniy {
    width: 110px;
height: 21px;
font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 8px;


}
.obed {
    margin-left: 12px;
}
.gram {
    width: 36px;
    height: 21px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(177, 177, 177, 1);
    margin-top: 29px;
    margin-bottom: 8px;
   

}
.dobavitbtn {
    width: 276px;
    height: 40px;
    border-radius: 12px;
    border: none;
    

  
        
}
.dobav {
    width: 73px;
    height: 16px;
    color: rgba(0, 0, 0, 1);
    
       
    padding: 11px 92px 11px 92px;
}


.burblock-one-and-two {
    display: flex;
    margin-top: 24px;
    margin-left: 30px;
}




.blcks {
    display: flex;
}

.burblock-three-and-four {
    display: flex;
    margin-left: 363px;
}

.burblock-five-and-six {
    display: flex;
    margin-left: 363px;
    margin-top: 30px;
}




.footer-inner {
    width: 1024px;
    height: 244px;
    margin-top: 100px;
    background: rgba(255, 255, 255, 1);


    display: flex;
    

        
}
.logotip {
    width: 300px;
    height: 58px;
    margin-top: 52px;
    margin-left: 32px;
        
}
.company {
    width: 123px;
    height: 36px;
    margin-top: 59px;
 
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.37px;
    text-align: left;
 
    
  
       
}
.nomer {
    width: 204px;
    height: 72px;
    margin-left: 242px;
    margin-top: 52px;

    
 
}
.nomer-forzakaz {
    width: 204px;
    height: 24px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
       

    
}

.nome {
    margin-left: 4px;
    margin-top: 1.5px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.num {
    display: flex;
    margin-top: 25.5px;
   
}

.social-media {
    width: 164px;
    height: 82px;
    margin-top: 52px;
    margin-left: 50px;

       
}
.mi {
    width: 164px;
    height: 24px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    
}
.vktg {
    display: flex;
    margin-top: 22px;
}
.vk {
    width: 36px;
    height: 36px;  
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень кнопки */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    

}


.vk:hover {
    transform: scale(1.05); /* Лёгкое увеличение */
    box-shadow: 0 0 15px rgba(255, 108, 46, 0.6); /* Усиление тени */

  }


  .tg {
    width: 36px;
    height: 36px;  
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень кнопки */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 16px;
    

}


.tg:hover {
    transform: scale(1.05); /* Лёгкое увеличение */
    box-shadow: 0 0 15px rgba(255, 108, 46, 0.6); /* Усиление тени */

  }






  @media (max-width: 320px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    .header-inner {
        height: 500px;
    }

    .header {
        min-height: 1571px;
        position: relative;
        background: rgba(249, 249, 249, 1);
    
    }

    .ellipse {
        width: 611px;
        height: 611px;
        background: rgba(255, 171, 8, 1);
        border-radius: 50%;
        position: absolute;
        top: -152px;
        left: -145px;
        
    }

    .burgblock {
        width: 300px;
        height: 352px;
        position: absolute;
        top: 77px;
        left: 10px;
        display: flex;
    
    
    }

    .meal {
     

        position: absolute;
        top: 24px;
        left: 85px;
     }
    


    .meal img {
        
        width: 150px;
        height: 29px;
    }

    .burgblock {
       
    width: 227px;
    height: 229px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
    
    
    
    }
    .socnie {
        width: 300px;
        height: 104px;
        margin-top: 46px;
     
        
        }


        .besplatn {

            width: 223px;
        height: 22px;

        
        
        }

        .tolko {
            width: 300px;
            height: 72px;
            font-family: Nunito;
            font-size: 30px;
            font-weight: 800;
            line-height: 36px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-top: 24px;
            margin-left: 10px;
          
        }

        span {
            font-family: Nunito;
            font-size: 30px;
            font-weight: 800;
            line-height: 36px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }

        .bes {
            width: 300px;
            height: 16px;
            font-family: Nunito;
            font-size: 12px;
            font-weight: 400;
            line-height: 16.37px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #fff;
           margin-top: 16px;
        
            margin-left: 10px;
            
        
        }

  

    .burg11 img {
        width: 227px;
        height: 229px;
        position: absolute;
        top: 200px;
        left: 46px;

    }






    .blockscroll {
        width: 310px;
        height: 30px;
    

        display: flex;
        margin-left: 10px;
        margin-top: 0px;
    
    
    }


    .blockscroll .item:nth-child(n+4) {
        display: none

    }

    .item1 {
        display: flex;
        width: 97px;
        height: 30px;
        border-radius: 50px;
        background: rgba(255, 171, 8, 1);
        margin-right: 8px;
        margin-left: 0px;
    
    
    }
    .item {
        display: flex;
        width: 94px;
        height: 30px;
        border-radius: 50px;
        background: rgb(255, 255, 255, 1);
        margin-right: 8px;  
    
    }
    
    .item:last-child {
        margin-right: 0;
    }
    
    .icon {
        width: 24px;
    height: 24px;
    padding: 3px 8px 3px 8px;
    
    
    }
    .text {
        font-family: Nunito;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.37px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        
    color: rgba(0, 0, 0, 1);
    
    padding: 7px 8px 7px 0px;
    
    
    }
    







.burg {
    width: 300px;
    height: 48px;
    color: rgba(0, 0, 0, 1);
    margin-left: 362px;
    margin-top: 50px;

    font-family: Nunito;
font-size: 40px;
font-weight: 600;
line-height: 48px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;



}
.threeinone {
    width: 300px;
    height: 48px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 1);
    margin-left: 10px;
    margin-top: 30px;

}

.threeinone :nth-child(n+4) {
    display: none;
}


.threeinone .srfotoandtext:nth-child(n+0) {
    display: none;
}




.korzina {
    display: flex;
}
.corz {
    font-family: Nunito;
font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 24px;
margin-left: 16px;

}
.schetchik {
    width: 41px;
    height: 20px;
    font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background: rgba(242, 242, 243, 1);
border-radius: 6px;
margin-top: 26px;
margin-left: 129px;

}

.cifr {
    padding: 2px 17px 2px 16px;
}
.bl1 {
    width: 268px;
    height: 84px;

    margin-top: 12px;
    margin-left: 16px;


}

.bl {
    width: 268px;
    height: 84px;


    margin-left: 16px;


}
.srfotoandtext {
    display: flex;
}
.sirfoto {
    margin-top: 16px;
}
.sirtext {
    margin-top: 15px;
    margin-left: 6px;
}
.sirtext1 {
    width: 83px;
    height: 16px;
    font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);


}
.sirtext2 {
    width: 27px;
height: 16px;

font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(177, 177, 177, 1);

}
.sirtext3 {
    width: 29px;
    height: 16px;
    font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 16.37px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);



}
.schetch {
    width: 84px;
    height: 40px;
    background: rgba(242, 242, 243, 1);
    border-radius: 12px;
    margin-left: 31px;
    margin-top: 22px;


}

.pod {
    display: flex;
    
    width: 60px;
height: 22px;
color: rgba(0, 0, 0, 1);

margin: 9px 12px 9px 12px;
justify-content: space-between;

font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 21.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;



}



.itog {
    width: 268px;
    height: 21px;

    display: flex;
    justify-content: space-between;
    margin: 16px 16px 24px 16px;

}
.itg {
    width: 44px;
height: 21px;
font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);


}
.moneyitog {
    width: 48px;
height: 21px;
font-family: Nunito;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(0, 0, 0, 1);

}
.zakazbtn {
    width: 268px;
    height: 40px;
    border-radius: 12px;
    background: rgba(255, 112, 32, 1);
    margin-left: 16px;


    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    border: none;
    
}
.textbtn {
 text-align: center;

}
.bespdost {
    width: 152px;
height: 24px;
display: flex;
justify-content: center;

margin-left: 16px;
margin-top: 8px;

}






.ceena {
    width: 39px;
    height: 16px;
    font-family: Nunito;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    

}


.myasbomb {
    width: 81px;
height: 16px;
font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 15.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 4px;


}


.supsirniy {
    width: 81px;
height: 16px;
font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 15.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 4px;


}

.gram {
    width: 27px;
    height: 16px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 16px;
    margin-bottom: 7px;
    color: rgba(177, 177, 177, 1);

   

}

.obed {
    margin-left: 4px;
}


.dobavitbtn {
    width: 137px;
    height: 30px;
    border-radius: 12px;
    border: none;
    margin-left: 0;
         
}

.dobav {
    width: 55px;
    height: 12px;
    color: rgba(0, 0, 0, 1);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
       
    padding: 9px 41px 9px 41px;
}




.burgfoto {
    
    padding: 0px 0px 0px 0px;
}


.burgfoto img {
    width: 137px;
    height: 120px;
    
    padding: 4px 4px 0px 4px;
}

.burgblock1 {
    width: 145px;
    height: 243px;

    background: rgba(255, 255, 255, 1);
    margin-left: 0;

    border-radius: 18px;

}

.burgblock2 {
    width: 145px;
    height: 243px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}


.burgblock3 {
    width: 145px;
    height: 243px;

    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}

.burgblock4 {
    width: 145px;
    height: 243px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}


.burgblock5 {
    width: 145px;
    height: 243px;

    background: rgba(255, 255, 255, 1);

    border-radius: 18px;

}

.burgblock6 {
    width: 145px;
    height: 243px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 1);
  
    border-radius: 18px;

}

.blcks {
    display: block;
  

}


.burblock-three-and-four {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;

    
}

.burblock-five-and-six {
    margin-left: 10px;
    display: none;
}


.burblock-one-and-two {
    margin-top: 80px;
    margin-left: 10px;
  
    display: flex;
}


.burg {
    position: absolute;
    width: 117px;
    height: 34px;
   left: 10px;
   top: 600px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}


.corz {
    width: 66px;
    height: 16px;
    font-family: Nunito;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
margin-top: 16px;
margin-left: 10px;

}
.schetchik {
    width: 32px;
    height: 16px;
    font-family: Nunito;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
background: rgba(242, 242, 243, 1);
border-radius: 6px;
margin-top: 16px;
margin-left: 182px;

}


.cifr {
    padding: 1px 13px 1px 13px;
}






.footer-inner {
    width: 320px;
    height: 318px;
    margin-top: 80px;
    background: rgba(255, 255, 255, 1);

display: block;

    

        
}


.logotip img {
    width: 196px;
    height: 38px;
    margin-left: 0;

}


.logotip {
    width: 196px;
    height: 38px;
    margin-top: 24px;
    margin-left: 0;
        
}
.company {
    width: 123px;
    height: 36px;
    margin-top: 194px;
    margin-left: 10px;
 
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.37px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
 
    
  
       
}
.nomer {
    width: 153px;
    height: 50px;
    margin-left: 10px;
    margin-top: 24px;


    
 
}
.nomer-forzakaz {
    width: 153px;
    height: 18px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
       

    
}

.nome {
    width: 105px;
    height: 16px;
    margin-top: 4px;
    margin-left: 4px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    
}
.num {
    display: flex;
    margin-top: 8px;
   
}

.social-media {
    width: 123px;
    height: 62px;
    margin-top: 24px;
    margin-left: 10px;


       
}
.mi {
    width: 123px;
    height: 18px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    
    
}
.vktg {
    display: flex;
    margin-top: 8px;
    width: 88px;
    height: 36px;
   
}
.vk {
    width: 36px;
    height: 36px;  
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень кнопки */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    

}








    






    






  }
  